@font-face {
  font-family: 'Silkscreen';
  src: url(fonts/slkscre.ttf) format("truetype");
  font-weight: 400;
}

* {
  background-color: black;
}

body {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  /* background-image: url('assets/test.png'); */
}

div {
  box-shadow: 0 0 0 10px #fff;
  /* background: url('assets/test.png'); */
}

h1 {
  color: white;
  font-family: 'Silkscreen', serif;
  font-weight: 400;
}
